<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.cuoriilabs.nativepreferences" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>NativePreferences</name><js-module name="NativePreferences" src="www/NativePreferences.js"><clobbers target="cordova.plugins.NativePreferences" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="NativePreferences"><param name="android-package" value="com.cuoriilabs.nativepreferences.NativePreferences" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml" /><source-file src="src/android/NativePreferences.java" target-dir="src/com/cuoriilabs/nativepreferences/NativePreferences" /></platform><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="NativePreferences"><param name="ios-package" value="NativePreferences" /></feature></config-file><source-file src="src/ios/NativePreferences.m" /></platform></plugin>